/*DropDown Menu*/
#bs-example-navbar-collapse-1 ul li > .sub-menu {
	display: none;
	position: absolute;
	z-index: 1000;
}
#bs-example-navbar-collapse-1 ul li:hover .sub-menu {
	display: block;
}
#bs-example-navbar-collapse-1 ul li {
	position: relative;
	list-style: none;
	-webkit-transition: all .2s linear;
}
.sub-menu {
	padding: 0px;
	background-color: #4C66A4;
	width: 135px;
}
.sub-menu li a {
	color: white;
	line-height: 30px;
	padding-left: 5px;
}
.sub-menu li {
	height: 30px;
	text-align: center;
}
.sub-menu li:hover {
	background-color: white;
	color: #0288D1;
}
.sub-menu li a:hover {
	
	color: #0288D1;
}
/*footer*/
.app-download:hover {
	color: #0288D1;
	border-color: #0288D1;
}
.app-download {
	-webkit-transition: all .2s linear;
	border: 1px solid #D7D7D7;
	width: 120px;
	height: 40px;
	position: relative;
	margin-bottom: 15px;
	margin-top: 15px;
}
/*id active*/
#active {
	background-color: #DDDDDD;
}
/*gio hang*/
.giohang {
	
	padding:5px 10px;
	border-bottom: 1px solid #EBEBEB;
}
/*dat-truoc*/
.dat-truoc {
	width: 248px;
	height: 35px;
	border: 1px solid gray;
	background-color: #CF2127;
	border-radius: 4px;
}
.dat-truoc:hover {
	background-color: #BB0000;
}
/*danh sách sản phẩm*/
.item {
	margin-top: 30px;
}
.list-item {
	border-bottom: 1px solid #F5F5F5;
	margin-top: 10px;
}
.item-cat {
	margin-bottom: 30px;
}
.item-cat h4 {
	color: #6D6F79;
}
.img-item {
	float: left;
}
.img-item img {
	width: 60px;
	height: 60px;
}
.name-item {
	float: left;
	margin-left: 20px
}
.name-item p {
	color: #6D6F79;
	font-size: 12px;
}
.price-item {
	float: right;
}
.price-item span {
	margin-right: 20px;
	color: #0296DD;
	font-weight: 700;
	font-size: 17px;
}
/*clear float*/
.clear {
	clear:both;
}
/*mã giảm giá*/
.discount {
	width: 569px;
	height: 100%;
	border: 1px dashed #575757;
	background-color: #FBF9D8;
}
.code-discount-img img {
	display: block;
	padding: 15px;
}
.code-discount-img {
	float: left;

}
.code-discount-text {
	padding:10px 90px;
}
.code-discount-text div p {
	line-height: 10px;
}
.discount-text1 {
	border-bottom: 1px solid #EBE9C9;
}
.discount-text2 {
	margin-top: 10px;
}
/*star-rate*/
.star-rate {
	display: inline;
	color: #FFC107;
}
/*thông báo shipper*/
.dsHoadon-head {
	border-bottom: 1px solid gray;
	margin-bottom: 2px;
	color: red;
	height: 40px;
	font-size: 17px;
}
.dsHoadon-head span {
	padding-left: 30px;

}
.dsHoadon-body i {
	float: left;
}
.dsHoadon-body-content p {
	color: #555555;	
}
.dsHoadon-body-content p span{
	color: #9C999F;	
}
.dsHoadon-body {
	height: 45px;

}
.dsHoadon-body:hover {
	background-color: #F0F0F0;
}

/*dropdown-account-session*/
.account {
	font-family: "Times New Roman", Times, serif;
}
.account-head-img {
	float: left;
	margin-right: 10px;
}
.account-head-info {
	
}
.account-body {
	height: 45px;
	color: #333333;
}
.account-body:hover {
	color: white;
	background-color: #337AB7;
}
.account-body strong {
	line-height: 45px;
	padding-left: 10px;
}

/*pay the bill*/
.payButton {
	text-align: center;
	background-color: #0288D1;
	color: white;
	height: 50px;
	border-radius: 5px;
	font-size: 17px;
	position: relative;
}
.payDathang {
	padding-top: 10px;
	position: absolute;
	top: 4px;
    right: 355px;
}
.payGia {
	position: absolute;
	right: 20px;
    top: 15px;
}
.pay-left {
	float: left;
	font-family: "Times New Roman", Times, serif;
}
.pay-left-top {
	background-color: white;
    width: 333px;
    height: 281px;
}
.pay-left-bot {
	margin-top: 5px;
	background-color: white;
    width: 333px;
    height: 168px;
}
.pay-right {
	float: right;
	font-family: "Times New Roman", Times, serif;
}
.pay-right-top {
	background-color: white;
    width: 520px;
    height: 100%;

}
.pay-right-top-head {
	margin: 10px;
}
.pay-right-top-body {
	margin: 0px 10px;
}

.pay-right-top a {
	color: black;
	font-size: 16px;
}
.order-price {
	float: right;
}
.order-name {
	padding-left: 23px;
}
.list-order {
	font-size: 16px;
	border-bottom: 1px solid #EBEBEB;
}
.order-number {
	font-size: 12px;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #0288d1;
    line-height: 14px;
    border-radius: 4px;
    padding-top: 1px;
    margin-top: 3px;
}
.pay-right-bot {
	margin-top: 10px ;
	background-color: white;
    height: 100%;
    font-size: 16px;

}
.pay-right-bot-note {
	width: 503px;
    margin: 5px 10px;
    height: 27px;
    border: none;
    border-bottom: 1px solid #EBEBEB;

}
.order-item-number {
	width: 15px;
	height: 15px;
	background-color: #0288D1;
}
.pay-left .directionn-content {
    padding-left: 10px;
    border-top: 0;
}
.pay-left .directionn-info {
    padding: 5px 10px 5px 23px;
    overflow: hidden;
}
.pay-left .directionn-content .directionn-from, .pay-left .directionn-content .directionn-to {
    padding: 5px 0;
    position: relative;
}

.pay-left .directionn-content .directionn-name {
    font-size: 13px;
    font-weight: 700;
    line-height: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 96%;
}
.pay-left .directionn-content .directionn-from:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1px;
    background-color: #d7d7d7;
    left: -14px;
    top: 16px;
    height: 50px;
}
.pay-left .directionn-content .directionn-from:after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #cf2127;
    margin: auto;
    position: absolute;
    top: 8px;
    left: -19px;
}
.pay-left .directionn-content .directionn-to:after{
	content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #6cc942;
    margin: auto;
    position: absolute;
    top: 8px;
    left: -19px;
}

/*loader image delay */
		.loader,
.loader:after {
    width: 10em;
    height: 10em;
}
.loader {            
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/fast2feed/public/templates/f2f/images/loader/Preloader_8.gif) center no-repeat #fff;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:absolute;;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
}
/*dropdowm account info*/

.dropbtnInfo {
    background-color: white;
    color: #337AB7;
    padding: 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    font-weight: 550;
}

.dropbtnInfo:hover, .dropbtnInfo:focus {
    background-color: #2980B9;
    color: white;
}

.dropdownInfo {
    position: relative;
    display: inline-block;
}

.dropdownInfo-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 245%;
}

.dropdownInfo-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdownInfo a:hover {background-color: #ddd;}

.show {display: block;}
{{-- full screen search --}}
/*Creator: Ryan Tarson Website: ryantarson.com updated 6.16.16 added fixed issues with chrome outline also new animations, also preformance update*/
/* Body Styling and Search icon */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body,
html{
  width: 100%;
  height: 100%;
}
body{
	
	background-size: cover;
	margin: 0;
}
.overlay{
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	
}

.mk-search-trigger {
  	position: absolute;
  	top: 0%;
	left: 8%;
	z-index: 1000;
}


/* Search Overlay */

.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper #mk-fullscreen-searchform input[type=submit] {
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: transparent;
  border: 0;
  right: 0;
  top: 0;
}
#mk-fullscreen-searchform:focus{
  outline: none;
  border: none;
}

.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper #mk-fullscreen-searchform .fullscreen-search-icon {
  font-size: 25px;
  position: absolute;
  right: 15px;
  width: 25px;
  top: 30px;
  color: #fff;
  color: rgba(255, 255, 255, .2);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.fullscreen-search-icon:hover,
.fullscreen-search-icon:focus{
  border: none;
  outline: none;
  color: #fff !important;
  -webkit-transition: transform ease-out .2s;
  -moz-transition: transform ease-out .2s;
  -ms-transition: transform ease-out .2s;
  -o-transition: transform ease-out .2s;
  transition: transform ease-out .2s;
  transform: rotate(180deg);
}

#mk-fullscreen-searchform {
  position: relative;
  verticle-align: middle;
}

.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input {
  width: 800px;
  background-color: transparent;
  -webkit-box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
  -moz-box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
  border: 0;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  color: #fff;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input:focus{
  boder: none;
  outline: none;
}

.mk-fullscreen-search-overlay.mk-fullscreen-search-overlay-show {
  visibility: visible;
  opacity: 1;
}

.mk-fullscreen-search-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, .94);
  text-align: center;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -ms-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}

.mk-animate-element,
.mk-effect-bg-layer,
.mk-fullscreen-search-overlay {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.mk-fullscreen-search-overlay {
  z-index: 999;
}

.mk-fullscreen-search-overlay .mk-fullscreen-close:link,
.mk-fullscreen-search-overlay .mk-fullscreen-close:visited {
  color: #fff;
}

.mk-fullscreen-search-overlay .mk-fullscreen-close {
  position: absolute;
  right: 50px;
  top: 70px;
  font-size: 26px;
  -webkit-transition: transform ease-out .2s;
  -moz-transition: transform ease-out .2s;
  -ms-transition: transform ease-out .2s;
  -o-transition: transform ease-out .2s;
  transition: transform ease-out .2s;
  transform: rotate(0deg);
}

.mk-fullscreen-search-overlay.mk-fullscreen-search-overlay-show #mk-fullscreen-search-wrapper {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  ms-transform: scale(1);
}

.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper {
  display: inline-block;
  max-width: 1000px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  ms-transform: scale(0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.mk-search-trigger {
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}
/* Search Button */
#search-button {
  display: relative;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  border: black solid 0.7px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  padding-right: 10px;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#search-button i{
  color: black !important;
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
}

#search-button:hover,
.mk-fullscreen-close:hover {
  opacity: 0.6;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
}
#mk-fullscreen-search-input:focus{
  box-shadow: 0px 3px 0px 0px rgba(255,255,255,0.54) !important;
}
/*scroll to top */
.lentop {
  display:none; 
  bottom: 40%; 
  right: 10px; 
  cursor: pointer;  
  position: fixed; 
  z-index: 1000;
}
.lentop div {
  background:crimson; 
  border:2px solid #fff;
  border-radius:45px; 
  padding:11px 12.5px; 
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3)
}
.lentop img {
  width:16px; 
  height:16px;
}